marquee{
    text-align: center;
    font-size: 70px;
    background-color: rgb(251, 214, 220);
}
h1{
    text-align: center;
    background-color: rgb(251, 214, 220);
}
article{
    text-align: center;
}
.about_para{
    text-align: center;
}
.award{
    text-align: center;
}
.service_div{
    text-align: center;
}
.service_heading{
    background-color: rgb(251, 214, 220);
}
li{
    list-style: none;
}
.contact_div1{
    text-align: center;
}
.contact_div2{
    text-align: center;
    background-color: rgb(251, 214, 220);
}
